/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

.red {
    background-color: #fff3f4;
}

.blue {
    background-color: #eeeeff;
}

.custom-restricted {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}