/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background: url("../../images/grain_big.png") repeat scroll 0 0%, #1c1d1f none repeat scroll 0 0;
    color: #eee;
    text-align: center;
    font-size: 10vw;
}

#flipcounter-score-red, #flipcounter-score-blue {
    margin-top: 15%;
    font-size: 1.5em;
}

#flipcounter-fouls-red, #flipcounter-fouls-blue {
    width: 30%;
}

.kazoo {
    width: 12%;
    float: left;
}

.center {
    text-align: center;
}

.fouls-panel {
    font-size: 0.5em;
    margin-top: 5%;
}

.logolti {
    margin-top: 5%;
    max-width: 287px;
    width: 50%
}

.red {
    color: #a81515;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.blue {
    color: #1515a8;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}
.right > * {
    float: right;
}

.left > * {
    float: left;
}
