/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 @font-face {
    font-family: 'led_board';
    src: url('../../fonts/LEDFixedWidthSemiCondensedBold.eot');
    src: url('../../fonts/LEDFixedWidthSemiCondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LEDFixedWidthSemiCondensedBold.woff') format('woff'),
         url('../../fonts/LEDFixedWidthSemiCondensedBold.ttf') format('truetype'),
         url('../../fonts/LEDFixedWidthSemiCondensedBold.svg#LEDFixedWidthSemiCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    src: url('../../fonts/FranklinGothic-DemiCond.eot');
    src: url('../../fonts/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FranklinGothic-DemiCond.woff') format('woff'),
        url('../../fonts/FranklinGothic-DemiCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../../images/wood.jpg") repeat scroll 0 0%, #1c1d1f none repeat scroll 0 0;
    color: #eee;
    text-align: center;
    font-size: 10vw;
    //overflow:hidden;
    height: 100%;
}

.pure-g {
    height: 33%;
}

p {
    margin: 0;
}

#flipcounter-score-red, #flipcounter-score-blue {
    margin-top: 15%;
    font-size: 1.5em;
}

#flipcounter-fouls-red, #flipcounter-fouls-blue, .kazoo {

}

.kazoo {
    width: 10%;
    float: left;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fouls-panel {
    font-size: 0.5em;
    margin-top: 5%;
}

.logolti {
    margin-top: 5%;
    max-width: 287px;
    width: 50%
}

p {
    font-family: 'Franklin Gothic Demi Cond';
    line-height: 1em;
    font-size: 0.5em;
}

.centertitle {
    margin: 9% 0;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
    color: #1b1b1e;
}

.red p, .blue p {
    font-size: 1em;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
    line-height: 0.75em;
}

.red p {
    color: #a81515;
}

.blue p {
    color: #1515a8;
}

.right > * {
    float: right;
}

.left > * {
    float: left;
}

.light {
    width: 100%;
    height: 100%;
    background-color: #000;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    margin: 0;
    padding: 0;
}

.light-logo {
    width: 100%;
    height: 100%;
    background-color: #000;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    margin: 0;
    padding: 0;


    background-image: url("../../images/logolti.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


.ledboard {
    font-family: led_board !important;
    font-size: 0.8em;
    border-color: #2e2f37 #222226 -moz-use-text-color;
    border-image: none;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, 0.25);
    background: url("../../images/grain.png") repeat scroll 0 0%, #242529 none repeat scroll 0 0;
}

.top {
    margin-top: 2%;
}

.blink {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

#led-message ul {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#led-message ul > li {
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
    height: 1em;
}
